################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechXpress.sln
/TechXpress.sln
